canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
ul.menu-list {
  list-style: none;
}
#game-container.main {
  background-image: url("images/menu_bg.jpg");
  height: 300px;
  width: 400px;
}
#main h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.center {
  width: 400px;
  position: relative;
  display: table;
  margin: auto;
}
.button {
  display: block;
  width: 150px;
  line-height: 30px;
  border: 1px solid #aa2666;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: #fb1886;
  background-image: -webkit-linear-gradient(
    bottom,
    #fb1886 0%,
    #b30d5d 100%
  );
  background-image: linear-gradient(to bottom, #fb1886 0%, #b30d5d 100%);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-color: #b30d5d;
  background-image: -webkit-linear-gradient(
    bottom,
    #b30d5d 0%,
    #fb1886 100%
  );
  background-image: linear-gradient(to bottom, #b30d5d 0%, #fb1886 100%);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}