.button {
  display: block;
  width: fit-content;
  min-height: 50px;
  margin: 5px 0px;
  padding: 0px 50px;
  line-height: 3.5vw;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #151515, 1px -1px 0 #151515, -1px 1px 0 #151515,
    1px 1px 0 #151515;
  background-image: -webkit-linear-gradient(
    bottom,
    #b73b91,
    #6b0068
  );
  background-image: linear-gradient(
    to bottom,
    #b73b91,
    #6b0068
  );
  border-radius: 5px;
}

.button:hover {
  background-color: #b30d5d;
  background-image: -webkit-linear-gradient(
    to top,
    #3bb756 0%,
    #007714 100%
  );
  background-image: linear-gradient(
    to top,
    #3bb756 0%,
    #007714 100%
  );
}